.container1 {
   border: 1px solid red;
}

.container2 {
   border: 1px solid red;
   display: grid;
   gap: 1.5rem;
   padding: 20px 0;
}

.card-container {
   /*    border: 2px solid blue; */
   background-color: #fff;
   border-radius: 20px;
   margin: 0 20px;
   padding: 1.7rem;
   display: grid;
}

.accouncement {
   display: grid;
   grid-template-rows: 40px 1fr;
}

.title {
   align-self: center;
   margin-left: 20px;
}
