.branding {
   display: flex;
   gap: 0.4rem;
   align-items: center;
   margin-top: 1rem;
   padding-left: 5%;
}

.branding .logo {
   width: 3.5rem;
}

.branding h1 {
   font-size: 1.8rem;
}

.logo {
   width: 1.8rem;
}
.buttons1 {
   margin-top: 3rem;
   margin-bottom: 2rem;
}

.buttons2 {
   align-content: end;
   margin-bottom: 1rem;
   gap: 1rem;
}

.buttons1,
.buttons2 {
   display: grid;
   padding-left: 8%;
}

.qwe {
   width: 1.8rem;
}

.button-items {
   display: flex;
   gap: 1.2rem;
}
