html {
   box-sizing: border-box;
   font-size: 16px;
   font-family: 'Nunito', sans-serif;
   font-family: 'Roboto', sans-serif;
   font-family: 'Rubik', sans-serif;
}

html,
body {
   height: 100%;
}

*,
*:before,
*:after {
   box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
   margin: 0;
   padding: 0;
   /*  font-weight: normal; */
}

ol,
ul {
   list-style: none;
}

img {
   max-width: 100%;
   height: auto;
}

.main-container {
   display: grid;
   grid-template-columns: 1fr 4fr;
   grid-template-rows: 1fr 1fr 5fr 1fr;
   height: 100%;
}

.header {
   background-color: green;
   grid-column: 2 / -1;
}

.sidebar {
   background-color: yellow;
   grid-row: 1 / 5;
}

.main-content {
   background-color: blue;
   grid-column: 2 / -1;
   grid-row: 2 / -1;
}
