:root {
   --primary: #3b82f6;
   --secondary: #2563eb;
   --accent: #4c4ea4;
   --textDark: #0a0a15;
   --background: #fff;
   --mainBackground: #e2e8f0;
   --padding-left: 40px;
}

html {
   box-sizing: border-box;
   font-size: 16px;
   font-family: 'Nunito', sans-serif;
   font-family: 'Roboto', sans-serif;
   font-family: 'Rubik', sans-serif;
}

*,
*:before,
*:after {
   box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
   margin: 0;
   padding: 0;
   font-weight: 500;
}

ol,
ul {
   list-style: none;
}

img {
   max-width: 100%;
   height: auto;
}

a {
   text-decoration: none;
}

a:link {
   color: #fff;
}

a:visited {
   color: #fff;
}

.main-container {
   display: grid;
   grid-template-columns: 1fr 5fr;
   grid-template-rows: repeat(6, 1fr);
   height: 100dvh;
}

.header {
   background-color: var(--background);
   grid-column: 2 / -1;
   display: grid;
   grid-template-columns: 4fr 3fr;
   grid-template-rows: 1fr 1fr;
}

.sidebar {
   background-color: yellow;
   grid-row: 1 / -1;
   background-color: var(--primary);
   display: grid;
   grid-template-rows: 5rem repeat(4, 1fr);
}

.main-content {
   background-color: var(--mainBackground);
   grid-column: 2 / -1;
   grid-row: 2 / -1;
}

.branding {
   display: flex;
   gap: 0.6rem;
   align-items: center;
   padding-left: 1rem;
   margin-top: 1rem;
}

.branding .logo {
   width: 3.5rem;
}

.branding h1 {
   font-size: 1.8rem;
}

.logo {
   width: 1.8rem;
}
.buttons1 {
   margin-top: 2rem;
}

.buttons1,
.buttons2 {
   margin-bottom: 5rem;
   display: grid;
   gap: 1.4rem;
   padding-left: 1.7rem;
}

.qwe {
   width: 1.8rem;
}

.button-items {
   display: flex;
   gap: 1.2rem;
}

/* HEADER */
.searchLabel,
.bell {
   width: 1.5rem;
}

.mini-pict {
   width: 1rem;
}

.myButton {
   background-color: var(--secondary);
   border-radius: 28px;
   border: 1px solid #4e6096;
   display: inline-block;
   cursor: pointer;
   color: #ffffff;
   font-size: 17px;
   padding: 9px 10px;
   text-decoration: none;
   width: 7rem;
   text-align: center;
}
.myButton:hover {
   /* generated */
   background-color: #476e9e;
}
.myButton:active {
   /* generated */
   position: relative;
   top: 2px;
}

.search-bar {
   border: 2px dotted blueviolet;
   display: grid;
   align-items: center;
}

form {
   /* border: 2px dotted red; */
   display: grid;
   grid-template-columns: 2rem 1fr;
   gap: 1rem;
   margin-left: 50px;
   margin-right: 150px;
}
#search {
   border-radius: 15px;
   background-color: var(--mainBackground);
   outline: none;
   padding: 0 10px;
   border: 1px solid var(--mainBackground);
}
