:root {
   --primary: #1992d4;
   --secondary: #d2d2ea;
   --accent: #4c4ea4;
   --textDark: #0a0a15;
   --background: #f5f5fa;
}

html {
   box-sizing: border-box;
   font-size: 16px;
   font-family: 'Nunito', sans-serif;
   font-family: 'Roboto', sans-serif;
   font-family: 'Rubik', sans-serif;
}

*,
*:before,
*:after {
   box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
   margin: 0;
   padding: 0;
   font-weight: 500;
}

ol,
ul {
   list-style: none;
}

img {
   max-width: 100%;
   height: auto;
}

a {
   text-decoration: none;
}

a:link {
   color: #fff;
}

a:visited {
   color: #fff;
}

.main-container {
   display: grid;
   grid-template-columns: 1fr 5fr;
   grid-template-rows: repeat(6, 1fr);
   height: 100dvh;
}

.header {
   background-color: green;
   grid-column: 2 / -1;
}

.sidebar {
   background-color: yellow;
   grid-row: 1 / -1;
   background-color: var(--primary);
   display: grid;
   grid-template-rows: 5rem repeat(4, 1fr);
}

.main-content {
   background-color: blue;
   grid-column: 2 / -1;
   grid-row: 2 / -1;
}

.branding {
   display: flex;
   gap: 1rem;
   align-items: center;
}

.branding .logo {
   width: 3.5rem;
}

.branding h1 {
   font-size: 1.8rem;
}

.logo {
   width: 1.8rem;
}
.buttons1 {
   margin-top: 2rem;
}

.buttons1,
.buttons2 {
   margin-bottom: 5rem;
   display: grid;
   gap: 1.4rem;
   padding-left: 1.7rem;
}

.qwe {
   width: 1.8rem;
}

.button-items {
   display: flex;
   gap: 1.2rem;
}
